<div class="py-5 bg-image-full" style="background-image: url('https://cdn.pixabay.com/photo/2019/06/10/11/35/learning-4264032_960_720.jpg');">
    <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
    <div style="height: 200px;"></div>
  </div>

<div class="about-section paddingTB60 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-6">
                <div class="about-title clearfix">
                    <h1 >About <span>CLASS</span></h1>
                    <h3>Connecting Teachers and Students </h3>
                    <p class="lead">This is a web app designed for the use of teachers and students in the class.
                         Teachers can use it 
                         for adding the student data and can access it in the tablular format.
                          Students can access their marklist by entering their details.
                        </p>
                   
           
   
   
                </div>
   


                </div>
            </div>
        </div>
    </div>      
    <h2>FOLLOW US ON SOCIAL MEDIA   </h2>
    <div class="social-media">
        <a href="#">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="#">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#">
            <i class="fab fa-whatsapp"></i>
        </a>
        <a href="#">
            <i class="fab fa-instagram"></i>
        </a>
        <a href="#">
            <i class="fab fa-youtube"></i>
        </a>
    </div>
    <!-- Footer -->
  <footer class="py-5 bg-dark">
 
      <p class="m-0 text-center text-white">Copyright &copy; Arun Thampi</p>
    
    <!-- /.container -->
  </footer>
